docs/mcp/
src/claude/skills/_dbt_skills/
src/claude/skills/_data_engineering_skills/
src/claude/mcp/
src/claude/agents/tools/payroc_engineering_naming_standards.md

# tests
tests/mcp/
tests/skills/_dbt_skills/

#=======================================================================
# Common credentials / secrets
#=======================================================================
*.p8
*creds*
*.pem
*.key
*.crt
*.pub
*.secret
*.token

#=======================================================================
# Private files
#=======================================================================
*.json
!src/claude/settings.json
!src/claude/skills/**/evals/*.json
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx

#=======================================================================
# OS / Editor files
#=======================================================================
.DS_Store
.vscode/
.idea/

#=======================================================================
# Python / Packaging
#=======================================================================
__pycache__/
dist/
downloads/
.eggs/
*.egg-info/

#=======================================================================
# Unit test / Coverage
#=======================================================================
.pytest_cache/
.coverage
htmlcov/

#=======================================================================
# Environments
#=======================================================================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#=======================================================================
# Logs
#=======================================================================
logs/
*.log

#=======================================================================
# Runtime data
#=======================================================================
pids/
*.pid

#=======================================================================
# Tool caches
#=======================================================================
.sqlfluff_cache
